@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Inter:wght@400;500;600&display=swap');

:root {
    --bg1: #151828;
    --bg2: #1B1F34;
    --body: #959DCC;
    --brand: #FFAB76;
    --white: #fff;
}

body{
    font-family: "League Spartan", sans-serif;
    color: var(--body);
    line-height: 1.8;
    background-color: var(--bg1);
}

h1,h2,h3,h4,h5,h6 {
    font-family: "League Spartan Black", sans-serif;
    color: white;
}

a {
    color: var(--body);
    text-decoration: none;
}

a:hover {
    color: var(--brand);
}

img {
    width: 100%;
}

section {
    padding-top: 160px;
    padding-bottom: 160px;
}

/*NAVBAR*/
.navbar {
    background: linear-gradient(to bottom,#1b1f34, rgba(27, 31, 52, 0.0));
}

.navbar-brand {
    font-size: 32px;
    font-weight: bold; 
}

.btn{
    background: #eb893e;
    color: #fff;
}


/*SUBREC*/
#subrec {
    background: linear-gradient(to right,#1b1f34, rgba(27, 31, 52, 0.0)), url(../images/signUpBackgroundImage.jpg);
    background-size: cover;
    background-position: center;
}

#subrec form {
    background-color: var(--bg1);
    padding: 32px;
}

#subrec form .form-control {
    background-color: var(--bg2);
    border-radius: 0;
    margin-top: 16px;
    border-color: var(--bg2);
    color: var(--body);
}

#subrec form input {
    height: 45px;
}